.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text-header {
    color: white;
    font-size: 48px;
    font-weight: 640;
}

.text-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 5px 20px 20px 20px;
    align-items: center;
}

p {
    color: #242424;
    margin: 10px 5px;
}

.email {
    font-weight: 600;
}

.return-to-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 38px;
    margin: 10px 10px;
    color: white;
    background: dodgerblue;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-weight: 400;
    transition: transform 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.return-to-login:hover {
    background: #187bcd;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.return-to-login:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}